<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo">Таск менеджер</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">тест1</a></li>
            <li><a href="">тест1 <span class="new badge">4</span></a></li>
            <li><a href="">тест1</a></li>
        </ul>
    </div>
</nav>