<div class="row">
    <form class="col s12" action="/edit/{{ task.id }}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <label for="title">Заголовок</label>
                <input id="title" name="title" type="text" class="validate" value="{{ task.title }}" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="title">Описание</label>
                <input id="description" name="description" type="text" class="validate" value="{{ task.description }}"
                    required>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn">Сохранить</button>
        </div>

    </form>
</div>