<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="/{{ task.file_path}}">
                <span class="card-title">{{ task.title }}</span>
            </div>
            <div class="card-content">
                <p>{{ task.description }}</p>
            </div>
            <div class="card-action">
                <a href="/">К списку</a>
                <a href="/edit/{{task.id}}">Редактировать</a>
            </div>
        </div>
    </div>
</div>