<div class="row">
    <div class="col s6 offset-s3">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-title center">
                    <p>{{ task.title }}</p>
                </div>
                <div class="card-content center">
                    <p>{{ task.description }}</p>
                </div>
                <div class="card-action">
                    <a href="/">К списку</a>
                    <a href="/edit/{{task.id}}">Редактировать</a>
                </div>

            </div>
        </div>
    </div>
</div>